@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;600;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Kumbh Sans', sans-serif;
}
li, a, button {
    font-family:'Kumbh Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    
}
body{
    width: 1440px;
    display: flex;
    flex-direction: column;
    margin: auto;   
}
/* Style de la barre de navigation */
.nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10%;
    height: 200px;
    border-bottom:1px solid hsl(0deg 4% 80%);
}

.nav span{
    font-size: 50px;

    display: none;
}
.navbar_logo{
    width: auto;
    margin-right: 5%;
}

.nav_contener{
    height: 100%;
}


.nav_contener .nav__links{
    list-style-type:none;
    margin-top: 15%;
    height: 62%;
}
.nav_contener .nav__links span{
    height: 10%;
}

.nav_contener .nav__links span img{
    width: 50px;
}
.nav_contener .nav__links li {
    display: inline-block;
    padding: 0px 20px;
    height: 100%;
    transition: 0.10s;
}

.nav_contener .nav__links li:hover{
    border-bottom:3px solid hsl(26, 100%, 55%); 
}

.nav_contener .nav__links li a {
    transition: 0.075s;
}


.nav_contener .nav__links li a:hover {
    color: hsl(0, 0%, 46%);
    font-weight: 550;

}

.right_items{
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

 .nav__right_items{
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__right_items .nav-cart{
    display: flex;
    flex-direction: column;
}

.nav__right_items .nav-cart .numb-cart {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: hsl(26, 100%, 55%);
}

.nav__right_items .nav-cart .numb-cart #nums-article{
    color: white;
    background-color: hsl(26, 100%, 55%);
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    margin: -1%;
    border-radius: 36%;
    position: absolute;
    width: 19px;
}


.nav__right_items .nav-item {
    list-style: none;
    margin: 50px;
    
}
.nav__right_items .nav-item img{
    border-style: solid;
    border-radius: 100%;
    border-color: hsl(0, 0%, 100%) ;
    transition: 0.5s;
    cursor: pointer;
}

.nav__right_items .nav-item img:hover{
    border-color: hsl(26, 100%, 55%); 
}
/* style du popUp cart */

.right_items .cart-conteneur{
    display: flex;
    display: none;
    flex-direction: column;
    height: 220px;
    position: absolute;
    width: 400px;
    box-shadow: 0px 7px 5px 5px #d7d4d4;;
    background-color: #f3f3f3;
    margin-top: 8%;
    border-radius: 5%;
    margin-left: -5%;
}

.right_items .cart-conteneur .cart-conteneur-titre{
    margin: 5%;
    height: 20%;
    border-bottom:1px solid hsl(0deg 4% 80%);
}

.right_items .cart-conteneur .cart-conteneur-article {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right_items .cart-conteneur .cart-conteneur-article .cart-photo-item{
    width: 25%;
}

.right_items .cart-conteneur .cart-conteneur-article .cart-photo-item img{
    width: 50px;
    margin-left: 30%;
    border-radius: 20%;
}

.right_items .cart-conteneur .cart-conteneur-article .cart-conteneur-item p{
    font-size: 15px;
    font-weight: 500;
}

.right_items .cart-conteneur .cart-conteneur-article .cart-conteneur-delete-icon{
    margin-left: 10%;
}

.right_items .cart-conteneur .cart-conteneur-article .cart-conteneur-delete-icon button{
    border-style: none;
    cursor: pointer;
}

.right_items .cart-conteneur .cart-btn-checkout{
    height: 100%;
    width: 100%;
}

.right_items .cart-conteneur .cart-btn-checkout button{
    width: 90%;
    margin: 5%;
    height: 30px;
    border-radius: 5%;
    color: white;
    font-weight: 600;
    margin-left: 5%;
    cursor: pointer;
    border-style: none;
    background-color: #ff7d1a;

}

/* style du contenu de la page */
.item_content{
    margin-top: 100px;
    width: auto;
    height: auto;
    display: inline-flex;
    align-items: flex-start;

}

/* Style des Photos du contenu de la page */
.item_content .item_photo {
    margin-right: auto;

}
.item_content .item_photo img {
    width: 40%;
    margin-left: 30%;
    border-radius: 5%;
    cursor: pointer;

}

.item_content .item_photo_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_content .item_photo_content .item_photo_select{
    padding: 5%;
    margin: auto;
}

.item_content .item_photo_content .item_photo_select button{
    border-style: none;
    background-color: white;
    height: 100px;
    width: 100px;
    margin: 10px;
}
.item_content .item_photo_content .item_photo_select button img{
    border-radius: 5%;
    cursor: pointer;
    height: 100%;
    width: 100%;  
    transition: 0.5s;
}

.item_content .item_photo_content .item_photo_select button img:hover{
    opacity: 0.60;
}

/* Style du pop up de la photo */

.item_content .item_photo_content .popup-img{
    position: fixed;
    display:none;
    left: 0; top: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
}

.item_content .item_photo_content .popup-img .popup-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    flex-direction: column;
}

.item_content .item_photo_content .popup-img .icon-close{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 2%;
    
    
}

.item_content .item_photo_content .popup-img .icon-close span{
    color: rgb(235, 235, 235);
    cursor: pointer;
    font-weight: 600;
    font-size: 50px;
    
}
.item_content .item_photo_content .popup-img .icon-close:hover span  {
    color: hsl(26, 100%, 55%);
    transition: 0.5s;
}
.item_content .item_photo_content .popup-img .main-img img{
    border-radius: 5%;
    width: 600px;
}

.item_content .item_photo_content .popup-img .popup-photo-select{
    display: flex;
    flex-direction: row;
}

.item_content .item_photo_content .popup-img .popup-photo-select button {
    border-radius: 10%;
    cursor: pointer;
    margin: 10px;
    border-style: none;
    height: 50%;
    
}

.item_content .item_photo_content .popup-img .popup-photo-select button img{
    border-radius: 5%;
    height: 100%;
    width: 100%;
    transition: 0.5;
}

.item_content .item_photo_content .popup-img .popup-photo-select button img:hover{
    opacity: 0.55;
}
/* Style de la Description de l'article */

.item_content .item_description{
    margin-top: 3%;
    display: flex;
    margin-left: -10%;
    flex-direction: column;
    align-items: flex-start;
}

.item_content .item_description .product #product_title {
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(26, 100%, 55%);
    margin-bottom: 5%;
    font-size: 15px;
}

.item_content .item_description .product #product_sub_title{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 45px;
}

.item_content .item_description .product-description #desc-product{
    margin-top: 5%;
    font-weight: 600;
    font-size: 16px;
    color: hsl(219, 9%, 45%);
}

.item_content .item_description .product_price {
 display: flex;
 flex-direction: column;
} 

.item_content .item_description .product_price .sct-1{
    display: inline-flex;
    margin-top: 20%;
    align-items: center;
}
.item_content .item_description .product_price .sct-1 .price{
    font-weight: 700;
    font-size: 40px;

}

.item_content .item_description .product_price .sct-1 .reduc{
    font-size: 18px;
    background-color:  hsl(25, 100%, 91%);
    color:hsl(26, 100%, 55%);
    border-radius: 10%;
    margin-left: 10%;
    font-weight: 650;
    padding: 2%;
   
}

.item_content .item_description .product_price .product_old_price{
    font-weight: 600;
    color: hsl(0, 0%, 67%); 
    text-decoration: line-through;
}
.item_content .item_description .cart_manager{
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    
    
}
.item_content .item_description .count_cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    height: 3em;
    width: 13em;
    background-color: #efefef;

}
.item_content .item_description .count_cart #count_lbl{
    margin-top: 5%;
    font-weight: 700;
}
.item_content .item_description .count_cart .count_cart_btn{
    color: hsl(26, 100%, 55%);
    border-style: none;
    height: 100%;
    font-size: 25px;
    cursor: pointer;
    font-weight: 800;
    border-radius: 10%;
    width: 100%;
}

.item_content .item_description .add_cart_btn {
    align-items: center;
    height: 3em;
    cursor: pointer;
    width: 13em;
    margin-left: 2%;
    color: white;
    font-weight: 600;
    background-color: hsl(26, 100%, 55%);
    box-shadow: 1px 15px 50px hsl(26, 100%, 55%);
    border-style: none;
    border-radius: 5px;
}

/*----- style ajouté via Js -----*/

.button_selected{
    background-color: white;
    opacity : 0.55;
    border-style: solid;
    border-color: hsl(26, 100%, 55%);
}

/*----------- responsive -----------*/

@media(max-width:1412px) {
body{
    width: 1330px;
}
}



@media(max-width:912px) {
    .nav{
        height: 30%;
        justify-content: space-between;
        padding: 0 28px;
    }

    .nav_contener{
        position: fixed;
        top: 0;
        left: -100%;
        background-color: rgb(255, 255, 255);
        width: 40%;
        height: 100%;
        padding: 24px 0;
        z-index: 100;
        transition: 00.5s;
    }

    .nav span{
        font-size: 80px;
        display: block;
        color: rgb(170, 170, 170);
        margin-left: 20px;
        margin-right: 5%;
    }

    .navbar_logo img {
        
        height: 50px;
    }

    .nav__links{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin-top: 15%;
        align-items: flex-start;
        margin-left: 10%;
        height: 62%;
    }

    .nav_contener .nav__links li {
        padding: 0px 0px;
        height: 90px;     
    }
    
    .nav-item a {
        font-weight: 700;
        font-size: 30px;
        color: rgb(0, 0, 0);
    }

    .nav_contener .nav__links li a:hover {
        color: hsl(0, 0%, 0%);
        font-weight: 700;
    
    }

    .right_items .cart-conteneur {
        height: 250px; 
        margin-top: 25%;
        margin-left: -50%;
        width: 500px;
    }

    .right_items .cart-conteneur .cart-conteneur-titre {
        margin: 5%;
        font-size: 25px;
        height: 20%;
    }

    .right_items .cart-conteneur .cart-conteneur-article .cart-conteneur-delete-icon {
        margin-left: 3%;
    }
    .right_items .cart-conteneur .cart-conteneur-article .cart-photo-item img {
        width: 90px;
        margin-left: 8%;
    }
    .right_items .cart-conteneur .cart-conteneur-article .cart-conteneur-item p {
        font-size: 24px;
        font-weight: 600;
    }
    .right_items .cart-conteneur .cart-btn-checkout button {
        margin: 3%;
    }
    

    .nav_contener .nav__links li:hover{
        border-bottom:none; 
    }
    
    .nav_contener .nav__links li img{
        display: block;
        width: 30px;
        margin-top: -100%;
    }
    
    .nav__right_items .nav-item img {
        height: 80px;
    }

    .item_content{
        display: inline-flex;
        align-items: center;
        flex-direction: column;
    }



    .item_content .item_description {
        margin-top: 3%;
        display: flex;
        margin-left: 0%;
        flex-direction: column;
        align-items: stretch;
    }   
    .item_content .item_description .product #product_title {
        font-size: 25px;
    }
    .item_content .item_description .product #product_sub_title {
        font-size: 70px;
    }
    .item_content .item_photo img {
        width: 64%;
        margin-left: 20%;
    }
    .item_content .item_description .product-description #desc-product { 
        font-size: 30px;
    }
    .item_content .item_photo_content .popup-img .icon-close span {
        font-weight: 600;
    }
    .item_content .item_description .product_price .sct-1 {
        margin-top: 4%;
    }
    .item_content .item_description .product_price .sct-1 .reduc {
        font-size: 30px;
        margin-left: 5%;
        padding: 1%;
    }

    .item_content .item_description .add_cart_btn {
        height: 5em;
        width: 25em;
        margin-left: 11%;
    }
    .item_content .item_photo_content .popup-img .main-img img {
        border-radius: 5%;
        width: 900px;
    }
    .item_content .item_description .count_cart {
        height: 5em;
        width: 20em;
    }
    .item_content .item_description .count_cart #count_lbl {
        margin-top: -2%;
        font-size: 30px;
    }

    .item_content .item_description .count_cart .count_cart_btn img{
        height: 20px;
    }

    .item_content .item_photo_content .popup-img .popup-photo-select button img {
        height: 170%;
        width: 100%;
    }

}

@media (max-width :414px ) {
    
}