@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li, a, button {
    font-family:'Kumbh Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    
}
body{
    width: 1440px;
    display: flex;
    flex-direction: column;
    margin: auto;   
}
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10%;
    height: 200px;
    border-bottom:1px solid hsl(0deg 4% 80%);
}
.navbar_logo{
    width: auto;
}
.nav__links{
    list-style-type:none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a :hover {
    color: green;
}
.nav__right{
    margin-left: auto;
    display: inline-flex;
    align-items: center;

}

.item_content{
    margin-top: 100px;
    width: auto;
    height: auto;
    display: inline-flex;
    align-items: center;

}
.item_content .item_photo {
    margin-right: auto;

}
.item_content .item_photo img {
    width: 60%;
    margin-left: 20%;
    border-radius: 5%;

}

.item_content .item_photo_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item_content .item_photo_content .item_photo_select{
    padding: 5%;
    margin: auto;

}

.item_content .item_photo_content .item_photo_select button{
    border-style: none;
    background-color: white;
    height: 100px;
    width: 100px;
    margin: 10px;
}
.item_content .item_photo_content .item_photo_select button img{
    border-radius: 5%;
    height: 100%;
    width: 100%;
    
    
}